<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="js/app.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <script type="text/template" id="poke-template">
        <div class="creatures">
            <h2><%= pokemon.name %></h2>
            <p>
                <%= pokemon.type %>
            </p>
            <p>
                <%= pokemon.form %>
            </p>
        </div>
        </script>
	</head>
	<body>
        <div id="heading">
            <img src="http://static.zerochan.net/Pikachu.full.846431.jpg" id="pika"/>
		<h1>Pokemon PokeDex</h1>
        </div>
        <div id="catch">
            <h2>Gotta Catch 'Em All!!</h2>
        </div>
        
        <input type="text" name="search" id="search-box">
        
        <div id="results"></div>
        
        <div>
            <img src="http://images.akamai.steamusercontent.com/ugc/529509748756292297/0E28263E87A247FE40D6878AEEF0C2D91A4D23CE/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C268:268&composite-to=*,*%7C268:268&background-color=black" id="ball" class="morph" />
        </div>
        
        <div>
            <img src="http://pre01.deviantart.net/a753/th/pre/i/2013/262/2/4/grass_pokemon_wallpaper_by_pjobo-d6mrhd1.jpg" id="grass" class="focus" />
        </div>
        
	</body>
</html>
