<html>
	<head>
		<link rel="stylesheet" href="css/style2.css">
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="js/app.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <script type="text/template" id="poke-template">
        <div class="creatures">
            <h2><%= pokemon.name %></h2>
            <h4 class="des"><span> <%= pokemon.type %> type - <%= pokemon.form %></span></h4>
            <p class="got">
            </p>
        </div>
        </script>

	</head>
	<body>
        <div id="heading">
            <img src="http://static.zerochan.net/Pikachu.full.846431.jpg" id="pika"/>
		<h1>Pokemon PokeDex</h1>
            
        </div>
        <div id="catch">
            <h2>Gotta Catch 'Em All!!<span id="links"><a href="file:///Users/dtranrules/Desktop/dailyhw/PokeDex/public/index.html">group page</a><a href="file:///Users/dtranrules/Desktop/dailyhw/PokeDex/public/index.html">input page</a></span></h2>
        </div>
        
        <input type="text" name="search" id="search-box" placeholder="Search names of Pokemon">
        <input type="text" name="search" id="search-box2" placeholder="Search types of Pokemon">
        
        <div id="results"></div>
        
	</body>
</html>