<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="js/app.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <script type="text/template" id="poke-template">
        <div class="food">
            <h2><%=  pokemon.name %></h2>
            <p>
                <%= pokemon.type %>
            </p>
        </div>
        </script>
	</head>
	<body>
		<h1>PokeDex</h1>
        <input type="text" name="search" id="search-box">
        <h3>Pokemon</h3>
        <ul>
            <li></li>
        </ul>
        <div id="results">
            <h1>Pokemon!</h1>
        </div>
	</body>
</html>
