<html>
	<head>
		<link rel="stylesheet" href="css/style.css">
            <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="js/app.js"></script>

        <script type="text/template" id="food-template">
        <div class="food" id="food-<%= food.id %>">
            <h2><%=  pokemon.name %></h2>
            <p>
                <%= pokemon.type %>
            </p>
        </div>
        </script>
	</head>
	<body>
		<h1>PokeDex</h1>
        <input type="text" name="search">
        <h3>Pokemon</h3>
        <ul>
            <li></li>
        </ul>
	</body>
</html>
